/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 1000 version
*/

body:after {
	content: url("../assets/alderley.jpg") url("../assets/bolt.jpeg") url("../assets/frank.jpg") ("../assets/minding.jpg")
}
html {
	font-size: 1.65em;
	text-align: center;
}
body {
	margin: 1vw auto;
	text-align: justify;
}
main {
	padding: 0;
}
main {
	display: table;
	vertical-align: top;
	border-collapse: separate;
	border-spacing: 2em;
}
aside {
	text-align: left;
	position: relative;
	background-color: #3dc2bb;
}
section {
	margin: 0 0 1em;
}
footer {
	margin: 0;
}
p {
	margin: 0 0 .5em;
}
h1 {
	text-transform: uppercase;
}
h2, h3 {
	font: 1.5em Arial, sans-serif;
	text-transform: uppercase;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
abbr {
	text-decoration: none;
	font-weight: bold;
	color: #0e2a2a;
}
main>* {
	border: solid 0px red;
	margin: 0 1.4vw;
}
main>aside {
	width: 34%;
	display: table-cell;
	vertical-align: top;
	padding: 1.5em;
}
main>section {
	width: 60%;
	display: table-cell;
	vertical-align: top;
}
aside h1 {
	font: 900 3em/.75 Georgia, serif;
	color: #fff;
}
aside h3 {
	color: #fff;
}
aside strong {
	font-size: 1.1em;
}
article ul {
	list-style: disc outside;
	margin-left: 1em;
}
article ul li {
	margin: .2em 0;
}
article p:last-child {
	font-style: italic;
}
article.refactor p {
	font-style: normal;
}
section h2, section h3 {
	color: crimson;
}
section h3 {
	font: 1.25em Arial, sans-serif;
}
footer li {
	opacity: .99;
	margin: 1em 0 0;
}
header ul, footer ul {
	font: .65em Courier, "Courier New", serif;
}
header ul, footer ul {
	display: table;
	width: 100%;
	border-collapse: separate;
	table-layout: fixed;
	text-align: center;
}
header ul li, footer ul li {
	display: table-cell;
}
main>section>ul {
	margin: 0 .5em 0 0;
	line-height: 1.1;
	background-image: none;
}
footer ul li {
	top: 1em;
	position: relative;
}
main>section>ul li {
	margin: 0 0 .75em;
}
.wrapper {
	margin: 0 2rem;
	font: .6em/1.4 Palatino, Lora, Georgia, serif;
	opacity: .99;
	background-color: rgb(247, 247, 247);
}
.him {
	width: 80%;
	padding-bottom: 80%;
	border: solid 1px #26827e;
	margin: 1em auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../assets/IMG_0717_lr.jpg);
	display: block;
	border-radius: 0;
}
.school {
	visibility: hidden;
	display: none;
}
.work {
	margin: .5em 0;
}
aside .output {
	position: absolute;
	left: -9999px;
}
ul.key {
	margin: 1em 0;
	text-align: left;
}
.bleed+footer {
	margin: -.75rem 0 0;
}
a:link, a:visited {
	color: #26827e;
	font-weight: bold;
}
a:hover {
	color: #3dc2bb;
}
footer a:link, footer a:visited {
	color: black;
	font-weight: normal;
}
footer a:hover {
	text-decoration: underline;
}
aside a:link, aside a:visited {
	color: black;
}
aside a:hover {
	color: white;
}
.key strong {
	font-style: normal;
}
.key li {
	padding: 0 0 .5em;
	margin: 0 0 .7em;
	border: dotted 0 #fff;
	border-width: 0 0 1px;
}
.work a {
	margin: 0 .5vw;
	border: solid 1px white;
	display: block;
}
.work>a {
	float: left;
	width: 30%;
}
.work:after {
	content: "";
	display: table;
	clear: both;
	border-collapse: collapse;
}
section header:first-child {
	background-color: black;
	padding: .2em;
	margin: .7em 0;
}
.work a:hover {
	border-color: cyan;
}
header li:first-child, header li:last-child, footer li:first-child, footer li:last-child {
	border: solid 1px;
	width: 2rem;
	height: 2rem;
}
header li:first-child {
	border-width: 0 1px 1px 0;
}
header li:last-child {
	border-width: 0 0 1px 1px;
}
footer li:first-child {
	border-width: 1px 1px 0 0;
	opacity: 1;
	margin: 0;
}
footer li:last-child {
	border-width: 1px 0 0 1px;
	opacity: 1;
	margin: 0;
}
section header:first-child h2 {
	color: white;
}
footer ul li:first-child, footer ul li:last-child {
	top: 0;
	position: relative;
	z-index: -1;
}
.wrapper.bleed {
	margin: -.75rem 2.5vw 0;
}
.print a:first-child, .print a:last-child {
	margin: 0;
}
#content>section>ul {
	border: solid 0px red;
	font: 1.75em Georgia, serif;
	line-height: 1;
}
#content>section>ul li {
	text-align: center;
}
#content>section>ul li:first-child {
	padding: 0 0 0.2em;
	margin: 0 0 0em;
	border-bottom: dotted 1px;
}
#content section header h3 strong {
	font-weight: normal;
}
#content section header h3 strong:after {
	content: " | ";
}
#content section header h3 strong:last-child:after {
	content: none;
}
.web a {
	width: 44%;
	padding-bottom: 160px;
	padding-bottom: 44%;
	margin: 0.5em;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.web a:nth-child(1) {
	background-image: url(../assets/poloafrica_flower_logo_lr.jpg);
}
.web a:nth-child(2) {
	background-image: url(../assets/BN-Thermic-Logo_call_lr.jpg);
}
.web a:nth-child(3) {
	background-image: url(../assets/alpacas_logo_lr.jpg);
}
.web a:nth-child(4) {
	background-image: url(../assets/loading_lr.png);
	background-color: teal;
	background-position: center;
}
.web a:nth-child(5) {
	background-image: url(../assets/fc-tmp-lr.jpg);
	background-position: center 30%;
}
a.resume {
	font: .75em Arial, serif;
	color: white;
	background-image: url('../assets/pdf.png');
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 0;
	display: block;
	padding: 2em 0 1.5em 4em;
	border-top: dotted 1px;
}
aside:before {
	content: "";
	border-style: solid;
	border-width: 0;
	display: block;
	border-color: transparent;
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
}
/*
#board {
    border: solid 10px rgb(247, 247, 247);
    display: block;
}
#pinboard {
    width: 100%;
    height: auto;
    display: block;
}
*/

#content header h2, #content header h3 {
	text-align: left;
}
#content header {
	overflow: hidden;
}
#content header h2+h2 {
	float: right;
}
#content header h2 {
	float: left;
}
#content header: after {
	content: "";
	display: table;
	clear: both;
}
/*
#content header strong, #content header h2:last-child {
	position: absolute;
	left: -9999px;
}
#content strong:first-of-type {
	position: relative;
	left: 0;
}
#content strong:first-of-type:after {
	content: none;
}
*/

#content>section>ul {
	float: left;
	margin: 0 1em 2em 0;
}
body>header img {
	position: absolute;
	left: -9999px;
}
@media only screen and (max-width: 1024px) {
	body>header li:first-child, body>header li:last-child, body>footer li:first-child, body>footer li:last-child {
		position: absolute;
		left: -9999px;
	}
	body>header ul, body>footer ul {
		padding: .75em 3em;
		background-color: black;
		color: white;
		font-size: .8em;
	}
	footer ul li {
		top: 0;
	}
	.wrapper {
		margin: 0;
	}
	.wrapper.bleed, body {
		margin: 0;
	}
	main {
		padding: 0;
	}
	.web a {
		width: 40%;
		padding-bottom: 40%;
	}
	.web a:nth-child(4) {
		background-image: url(../assets/uploading_lr.png);
	}
}