html {
	font-size: 2vw;
}
body {
	margin: 1rem;
	text-align: justify;
	display: flex;
	flex-direction: column;
}
article header {
	display: flex;
	justify-content: space-between;
	color: rgb(124, 0, 124);
}
article {
	margin: 0 0 1em;
}
article:first-of-type {
	margin: .5em 0;
	border-bottom: solid 1px;
}
article:first-of-type header {
	color: black;
}
h1 {
	text-transform: uppercase;
}
ul {
	display: flex;
	justify-content: space-between;
}
ul.key {
	display: block;
}
body>header {
	font: .65em Courier, serif;
}
header li:first-child, header li:last-child, footer li:first-child, footer li:last-child {
	border: solid 1px;
	width: 2rem;
	height: 2rem;
}
header li:first-child {
	border-width: 0 1px 1px 0;
}
header li:last-child {
	border-width: 0 0 1px 1px;
}
footer {
	flex-shrink: 0;
	margin:0;
}

.bleed + footer {
	margin: -.75rem 0 0;
}
footer li {
	opacity: .99;
	margin: 1em 0 0;
}
footer li:first-child {
	border-width: 1px 1px 0 0;
	opacity: 1;
	margin: 0;
}
footer li:last-child {
	border-width: 1px 0 0 1px;
	opacity: 1;
	margin: 0;
}
.wrapper {
    margin: 0 2rem;
	padding: 1.5rem 0;
	font: .65em Lora, Arial, sans-serif;
	opacity: .99;
	flex: 1 0 auto;
    transition: all 2s steps(3, end);
    background-color: rgba(255, 255, 180, 1);

}
.wrapper.bleed {
    margin: -.75rem 1.4rem 0;
    
}
main {
	margin: 0 1rem;
}
main>section {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
dl, dt {
	font-weight: bold;
}
dd {
	font-size: .8em;
	font-weight: normal;
}

p span {
    color: blue;
}

.board {
    background: red;
    
}
main > section > * {
    border: solid 1px green;
    flex: 1 1 50%;
}
main > section > ul {
    margin: 0 .5em 0 0;
    line-height: 1.1;
}

main > section > ul li{
    margin: 0 0 .5em;
}

main > section > div {
    margin: 0 0 0 .5em;
}